<div class="container">
  <h1>SOBRE O PYTHON DAY</h1>
  <p>
    O Python Day visa ser um dia de palestras e mini-cursos ligados à plataforma
    Python. Python é uma das plataformas de software livre que mais crescem no mundo e
    já é usada por várias empresas no Brasil, como Globo.com, Governo Federal,
    Atépassar, JusBrasil entre outras, e lá fora como Dropbox, Youtube, Instagram,
    Walt Disney, etc. Por ser uma plataforma livre, pode também ser aplicada em vários ambientes como
    web, computação de alto desempenho, sistemas embarcados e interfaces gráficas.
  </p>
  <p>
    A comunidade Python está presente em todo o Brasil com mais de 20 células
    estaduais filiadas a uma grande Associação, a PythonBrasil, que é uma
    organização sem fins lucrativos com o objetivo de disseminar a
    plataforma e incentivar a realização de eventos.
  </p>
   <p>
    Visando estimular o uso da plataforma e até incentivar novos empreendedores
    e startups nascentes a escolher a linguagem Python, que é uma excelente
    opção para quem está começando a programar, o Dia Python foi concebido para
    promover a discussão e o ensino da linguagem.
   </p>
    <p>
      Esse ano estamos realizando o segundo Python Day Campina Grande,
      o evento ocorrerá dia 25/03, e contará com um dia de palestras e mini-cursos
      voltados a comunidade python local e interessados em conhecer mais sobre
      a linguagem, compareça.
    </p>
  
    <!-- esse último parágrafo é realmente necessário?-->
</div>
