<div class="speakers">
  <div class="container">
    <h1>PALESTRANTES</h1>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" [src]="speakersPhotos[0]" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Samuel de Medeiros Queiroz</h4>
          <p class="card-text">OpenStack Core Contributor at Hewlett Packard Enterprise</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://www.edenstylemagazine.it/images/stories/The_Sims_4/artwork/social/yE0VLFis.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Nome do palestrante</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://www.edenstylemagazine.it/images/stories/The_Sims_4/artwork/social/yE0VLFis.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Nome do palestrante</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>
  </div>
</div>
