<div class="speakers">
  <div class="container">
    <h1>PALESTRANTES</h1>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" [src]="speakersPhotos[1]" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Allisson Azevedo</h4>
          <p class="card-text">Senior web development na olist.com</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top"  [src]="speakersPhotos[4]"  alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Ana Ribeiro</h4>
          <p class="card-text">Estagiária Mozilla summer 2016/ Estudante da UFCG</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top"  [src]="speakersPhotos[3]"  alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Matheus Gaudencio Do Rêgo</h4>
          <p class="card-text">Professor na Universidade Federal de Campina Grande</p>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top"  [src]="speakersPhotos[5]"  alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Paulo Ribeiro</h4>
          <p class="card-text">Professor no IFPB-Campus Campina Grande</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" [src]="speakersPhotos[0]" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Samuel de Medeiros Queiroz</h4>
          <p class="card-text">OpenStack Core Contributor at Hewlett Packard Enterprise</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top"  [src]="speakersPhotos[2]"  alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Walter Alves</h4>
          <p class="card-text">Full Stack Software Engineer em Laboratório de Sistemas Distribuidos</p>
        </div>
      </div>
    </div>
  </div>
</div>
