<div class="shedule">
  <div class="container">
    <ul>
      <li>
        <p><b><time>10:00 ~ 10:50</time></b></p>
        <p>Samuel Medeiros</p>
        <p>Tema: <b>How to Python make OpenStack better (and vice-versa)</b></p>
      </li>

      <li>
        <p><b><time>11:00 ~ 11:50</time></b></p>
        <p>Matheus Gaudencio</p>
        <p>Tema: <b>O jeito Python de ser</b></p>
        <p>Python é uma linguagem de programação amigável e direta. Quem aprende
        Python costuma ter domínio sobre as construções básicas da linguagem mas
        acaba não conhecendo um outro lado dessa linguagem. Existem construções,
        bibliotecas, utilitários e até comandos básicos que, se usados corretamente,
        tornam o código Python mais legível, direto e simples. Nesta apresentação
        discutiremos sobre o jeito Python de escrever código, alguns recursos
        como list comprehensions, generators e iterators, bibliotecas de manipulação
        de funções, utilitários para manipular string de forma direta, e outras
        funcionalidades para se tornar um Pythonista de fato</p>
      </li>

      <li>
        <p><b><time>13:30 ~ 14:20</time></b></p>
        <p>Alisson Azevedo</p>
        <p>Tema: <b>Introdução a programação assíncrona com asyncio</b></p>
        <p>Utilizando de exemplos práticos, vamos ter uma visão geral da
        programação assíncrona utilizando o asyncio</p>
      </li>

      <li>
        <p><b><time>14:30 ~ 15:20</time></b></p>
        <p><b>Walter Alves</b></p>
        <p>Tema: <b>Uma API web simples, fácil e rápida de fazer com Flask</b></p>
      </li>
    </ul>
  </div>
</div>
