<div class="shedule main-container">
   <section id="timeline" class="timeline-outer">
    <div class="container" id="content">
      <div class="row">
        <div class="col s12 m12 l12">
          <h2 class="blue-text lighten-1 header">Programação</h2>
          <ul class="timeline">
            <li class="event">
              <h6>9:20 - 10:00</h6>
              <h3>How to Python make OpenStack better (and vice-versa)</h3>
              <h6>Samuel Medeiros</h6>
              <p>
                O OpenStack é um sistema operacional em nuvem que controla grandes
                polos de recursos de computação, armazenamento e rede em um datacenter,
                tudo gerenciado através de um painel que dá aos administradores controle
                ao mesmo tempo que capacita seus usuários para fornecer recursos através
                de uma interface web. Ele agora consiste em mais de 4,5 milhões de linhas de
                código, 85% das quais é Python.<br>
                Por que o OpenStack originalmente escolheu o Python como seu idioma principal?
                O que o Python traz para o OpenStack? Por outro lado, como o OpenStack
                ajuda bibliotecas Python? Como o sistema de integração contínua baseado
                em nuvem que o OpenStack usa expõe bugs em bibliotecas Python? Esta palestra
                dará respostas a todas essas perguntas, enquanto destacando como Python é
                importante para o OpenStack, e vice-versa.
              </p>
            </li>
            <li class="event">
              <h6>10:15 - 11:00</h6>
              <h3>Um jeito Python de ser</h3>
              <h6>Matheus Gaudencio</h6>
              <p>
                Python é uma linguagem de programação amigável e direta. Quem
                aprende Python costuma ter domínio sobre as construções básicas
                da linguagem mas acaba não conhecendo um outro lado dessa linguagem.
                Existem construções, bibliotecas, utilitários e até comandos básicos
                que, se usados corretamente, tornam o código Python mais legível,
                direto e simples. Nesta apresentação discutiremos sobre o jeito
                Python de escrever código, alguns recursos como list comprehensions,
                generators e iterators, bibliotecas de manipulação de funções,
                utilitários para manipular string de forma direta, e outras
                funcionalidades para se tornar um Pythonista de fato.
              </p>
            </li>
            <li class="event">
              <h6>11:15 - 12:00</h6>
              <h3>Uma introdução ao Pytest</h3>
              <h6> Ana Ribeiro</h6>
              <p>
                O Pytest é uma ferramenta para escrever testes automáticos em Python.
                Na palestra fará-se uma pequena introdução a ele e se ensinará o básico
                para escrever testes em Python e também haverá uma breve menção de como
                se envolver na comunidade Pytest (como se tornar desenvolvedor,
                e como se faz os testes do pytest).
              </p>
            </li>
            <li class="event">
              <h6>13:10 - 14:00</h6>
              <h3>Welcome to Flask</h3>
              <h6>Walter Alves</h6>
              <p>
                Baseado em Werkzeug e Jinja 2, Flask é um microframework web
                python que visa manter o core da aplicação web simples e extensível.
                Discutiremos as vantagens e desvantagens em utilizar essa ferramenta,
                fazendo um breve comparativo com alguns outros frameworks web e
                demonstraremos um exemplo de uma pequena API em Flask.
              </p>
            </li>
            <li class="event">
              <h6>14:00 - 14:40</h6>
              <h3>Jogando dados com Python</h3>
              <h6>Paulo Ribeiro</h6>
              <p>
                Nessa palestra teremos um passeio introdutório pela valiosa caixa
                de ferramentas disponível no ecossistema Python para processamento
                e análise de dados; vários casos de uso básicos serão apresentados
                com os principais módulos usados para esse fim além de diversas
                dicas de como começar a usar Python para análise de dados e estatística.
              </p>
            </li>
            <li class="event">
              <h6>15:00 - 15:50</h6>
              <h3>Introdução à programação assíncrona com Asyncio</h3>
              <h6>Alisson Azevedo</h6>
              <p>
                Utilizando de exemplos práticos, teremos uma visão geral da
                programação assíncrona utilizando o Asyncio.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
